@import "tailwindcss";
@plugin "daisyui";

:root {
  --background: #f1f4f6;
  --foreground: #171717;
}

@theme {
  --font-sans: "Inter", sans-serif;
  --font-mono: "Fira Code", monospace;

  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: #a7c957;
  --color-secondary: #6a994e;
  --color-third: #386641;
  --color-fourth: #bc4749;
  --color-fifth: #f2e8cf;
  --color-sixth: #ededed
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}